# ===== OS / IDE =====
.DS_Store
Thumbs.db

.idea/
*.iml
.classpath
.project
.settings/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ===== Backend (Spring Boot / Maven) =====
**/target/
**/*.log

# ===== Frontend (Vue) =====
**/node_modules/
**/dist/
**/.cache/
**/.parcel-cache/

# ===== Misc =====
*.bak
*.tmp
*.swp


